<div class="auth-wrapper">
  <div class="auth-card">
    <h2>HR Portal Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
      <div class="form-group">
        <input type="email" placeholder="Email" formControlName="email" />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']) {
          <small class="error">Email is required</small>
        }
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']) {
          <small class="error">Please enter a valid email address</small>
        }
      </div>

      <!-- Password -->
       <div class="form-group password-group">

        <!-- INPUT + EYE -->
        <div class="password-input-wrapper">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password" />

          <button
            type="button"
            class="eye-btn"
            (click)="togglePasswordVisibility()">
            <span class="eye-icon" [class.hide]="hidePassword"></span>
          </button>
        </div>

        <div class="forgot-link-container">
          <a
            routerLink="/forgot-password"
            class="forgot-link"
            [class.disabled]="loaderService.isLoading$ | async">
            Forgot Password?
          </a>
        </div>

      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        {{ (loaderService.isLoading$ | async) ? 'Logging in…' : 'Login' }}
      </button>

    </form>

    <p class="link-text">
        Don’t have an account?
        <a
          routerLink="/register"
          class="register-link"
          [class.disabled]="loaderService.isLoading$ | async">
          Register
        </a>
    </p>
  </div>
</div>
