<div class="auth-wrapper">
  <div class="auth-card">
    <h2>HR Portal Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
      <div class="form-group">
        <input type="email" placeholder="Email" formControlName="email" />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']) {
          <small class="error">Email is required</small>
        }
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']) {
          <small class="error">Please enter a valid email address</small>
        }
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" formControlName="password" />
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <small class="error">Password must be at least 6 characters</small>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

    @if (error) {
        <div class="error-message-box">
            {{ error }}
        </div>
    }
    </form>

    <p class="link-text">
        Don’t have an account?
        <a routerLink="/register" class="register-link">Register</a>
    </p>
  </div>
</div>
