/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}
